[Desktop Entry]
Version=0.1
Name=CyanogenMod Dev Center
Name[en_US]=CyanogenMod Dev Center
GenericName=CyanogenMod Dev Center
Comment=Develop tool for CyanogenMod
Exec=
Terminal=false
Icon=cmdc-icon
Type=Application
Categories=GTK;Development;
